.navbar .navbar-brand {
  font-size: 30px;
}
img.img-fluid {
  max-width: 70%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.my-container {
  background-color: #f2f6ff;
  height: 1025px;
  width: 100%;
  padding: 0px 0px;
}

.row {
  display: flex;
}

/* Shaydee, please work on the image in this div called ".my-section1" */

.my-section1 {
  background: url(../img/Rectangle-2.png) #c4c4c4 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 659px;
  height: 1025px;
  left: 0px;
}

.my-section2 {
  background: #f2f6ff;
  position: absolute;
  width: 781px;
  height: 1025px;
  left: 659px;
  padding: 80px 100px 30px 100px;
}

/* horiontal line */

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

/* Google img inside buttton */

.google-img {
  position: relative;
  right: 130px;
}

/* MEDIA QUERIES & RESPONSIVENESS */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 375px) {
  .my-section1 {
    height: 300px;
  }
  .my-section2 {
    left: 0px;
    top: 400px;
    padding: 10px 20px 10px 20px;
    align-items: center;
  }
  .google-img {
    position: relative;
    right: 60px;
  }
  .navbar .navbar-brand {
    font-size: 30px;
  }
  img.img-fluid {
    max-width: 70%;
  }
}

/* Medium devices (laptops/tablets, 992px and up) */

@media only screen and (max-width: 685px) {
  .my-container {
    width: 100%;
  }
  .my-section2 {
    left: 0px;
    padding: 10px 20px 10px 20px;
  }
  .navbar .navbar-brand {
    font-size: 30px;
  }
  img.img-fluid {
    max-width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 1024px) {
  .my-section2 {
    left: 500px;
    padding: 10px 20px 10px 20px;
  }
}
